<%- include('../layout/header.ejs') %>
    <%- include('../layout/menu.ejs') %>
        <div class="section">
            <form class="form-search" action="#" method="post">
                <div class="dropdown">
                    <select id="grade-select">
                        <option value="primary">Dành cho Tiểu Học</option>
                        <option value="secondary">Dành cho THCS</option>
                        <option value="high-school">Dành cho THPT</option>
                        <option value="training-high-school">Luyện thi THPT QG</option>
                        <option value="english-cerificate">Luyện thi Chứng Chỉ Tiếng Anh</option>
                        <option value="english-communication">Tiếng Anh giao tiếp</option>
                    </select>
                </div>
                <div class="dropdown">
                    <select id="subject-select" disabled>
                        <option value="">-- Select a subject --</option>
                    </select>
                </div>
                <input id="query" name="query" type="search" placeholder="Search..."
                    style="padding: 10px; margin-right: 10px; border: solid 1px #cccc;border-radius: 5px; padding-right: 15%;">
                <input class="btn-search" type="submit" value="Tìm kiếm">
                <select class="status" name="status" id="status">
                    <optgroup label="Trạng thái">
                        <option value="active">Đang mở</option>
                        <option value="inactive">Đã tắt</option>
                    </optgroup>
                </select>
            </form><br><br>
            <h5 class="title-content">Khóa học mới nhất</h5>
            <div class="card card-wrapper">
                <% if (typeof courses !=='undefined' && Array.isArray(courses) && courses.length> 0) { %>
                    <% for(var i=0; i< courses.length; i++){ %>
                        <% if(i===8) break; %>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="#"><%= courses[i].name %></a>
                                </h5>
                                <p class="card-text">Tên gia sư: <%= courses[i].nametutor %></p>
                                <p class="card-text">Trạng thái: <%= courses[i].status %></p>
                                <p class="card-text">Mô tả: <%= courses[i].decs %></p>
                                <p class="card-text"><small class="text-muted">Ngày đăng: <%= new
                                            Date(courses[i].datePost).toLocaleString('vi-VN') %></small></p>
                                <button class="btn-apply">Apply</button>
                            </div>
                            <% } %>
                                <% } else { %>
                                    <% if (typeof message !=='undefined' && message !='' ) { %>
                                        <div class="alert alert-success" style="margin-top: 100px ;">
                                            <%= message %>
                                        </div>
                                        <% } else { %>
                                            <p>Không có khóa học nào!</p>
                                            <% } %>
                                                <% } %>
            </div>
        </div>
        </div>
        <%- include('../layout/footer.ejs') %>
            </body>

            </html>