<%- include('../layout/header.ejs') %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->
        <%- include('../layout/menu.ejs') %>
            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row">
                  <%- include('../tutor/search.ejs') %>
                    <div class="container">
                        <% if (typeof tutors !=='undefined' && tutors) { %>
                          <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-4 float-right" style="padding-left: 50px ; padding-top: 30px ;  ">
                                    <img src="<%= tutors.avt %>" alt="Images" style="max-height: 250px; max-width: 250px; margin-right: 30px; padding-bottom: 30px">
                                    <br>
                                    <td>
                                      <% if (tutors.status==="active" ) { %>
                                        <button type="button" class="btn btn-warning btn-sm" onclick="confirmAction('/admin/tutor/block/<%= tutors._id %>')">Khóa tài khoản</button>
                                      <% } else { %>
                                          <button type="button" class="btn btn-success btn-sm" onclick="confirmAction('/admin/tutor/unblock/<%= tutors._id %>')">Mở khóa tài khoản</button>
                                      <% } %>
                                      <button type="button" class="btn btn-danger btn-sm" onclick="confirmAction('/admin/tutor/delete/<%= tutors._id %>')">Xóa tài khoản</button>
                                  </td>
                                </div>
                                <div class="col-md-8 float-left">
                                    <div class="card-body">
                                        <h5 class="card-title">Tên giáo viên : <%= tutors.username %></h5>
                                        <h6 class="card-text">Mã giáo viên : <%= tutors._id %></h6>
                                        <p class="card-text">Ngày sinh : <%= tutors.birthday %></p>
                                        <p class="card-text">Email : <%= tutors.email %></p>
                                        <p class="card-text">Địa chỉ : <%= tutors.address %></p>
                                        <% if (reviews.length === 0) { %>
                                            <p class="card-text">Số sao đánh giá: Không có đánh giá nào</p>
                                        <% } else { %>
                                            <% for (let i = 0; i < reviews.length; i++) { %>
                                                <p class="card-text">Số sao đánh giá :
                                                      <% for (let j = 0; j < reviews[i].rate; j++) { %>
                                                          <span>&#11088;</span>
                                                      <% } %>
                                                    </p>
                                            <% } %>
                                        <% } %>
                                        <p class="card-text">Khóa học tham gia hiện tại :
                                        <% if (course.length === 0) { %>
                                            <a>Không có khóa học nào.</a>
                                        <% } else { %>
                                            <% for (let i = 0; i < course.length; i++) { %>
                                                <a><%= course[i].name %>, </a>
                                            <% } %>
                                        <% } %>
                                      </p>
                                        <div>
                                          <a class="card-text">Trạng thái:</a>
                                          <% if (tutors.status === 'inactive') { %>
                                            <a>Tài khoản đã khóa</a>
                                          <% } else { %>
                                            <a>Đang hoạt động</a>
                                          <% } %>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        
                        <% } else { %>
                            <% if (typeof message !== 'undefined' && message != '') { %>
                                <div class="alert alert-success" style="margin-top: 100px ;"><%= message %></div>
                            <% } else { %>
                                <p>Không có thông tin để hiển thị </p>
                            <% } %>
                        <% } %>
                        
                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
          </div>
        </section>
      </section>
      <!-- END CONTENT -->
      <div class="chatapi-windows ">
      </div>
      <%- include('../layout/footer.ejs') %>