<%- include('../layout/header.ejs') %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->
        <%- include('../layout/menu.ejs') %>
            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row">
                    <%- include('../tutor/search.ejs') %>
                    <div class="container">
                        <table class="table">
                            <% if (typeof tutors !=='undefined' && Array.isArray(tutors) && tutors.length> 0) { %>
                            <thead class="" style="background-color: #67CDF9; color: aliceblue;">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Rate</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <% for(var i=0; i< tutors.length; i++){ %>

                                        <tr>
                                            <td>
                                                <%= tutors[i].username %>
                                            </td>
                                            <td>
                                                <%= tutors[i]._id %>
                                            </td>
                                            <td>
                                                <%= tutors[i].email %>
                                            </td>
                                            <td>
                                                <% var hasReview = false; %>
                                                    <% for (var j=0; j < reviews.length; j++) { %>
                                                        <% if (tutors[i].username === reviews[j].nametutor) { %>
                                                            <p>
                                                                    <% for (let k = 0; k < reviews[j].rate; k++) { %>
                                                                        &#11088; <!-- &#9733; Hoặc &#11088; -->
                                                                    <% } %>
                                                            </p>
                                                            <% hasReview = true; %>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% if (!hasReview) { %>
                                                                            <p>No reviews</p>
                                                                            <% } %>
                                            </td>
                                            <td>
                                                <% if (tutors[i].status==='inactive' ) { %>
                                                    Tài khoản đã khóa
                                                    <% } else { %>
                                                        Đang hoạt động
                                                        <% } %>
                                            </td>
                                            <td>
                                                <a href="/admin/tutor/details.html/<%= tutors[i]._id %>">Chi tiết</a> |
                                                <% if (tutors[i].status==="active" ) { %>
                                                    <a href="/admin/tutor/block/<%= tutors[i]._id %>">Khóa tài khoản</a>
                                                    <% } else { %>
                                                        <a href="/admin/tutor/unblock/<%= tutors[i]._id %>">Mở khóa tài
                                                            khoản</a>
                                                        <% } %>
                                            </td>
                                        </tr>

                                        <% } %>
                                            <% } else { %>
                                                <div class="alert" role="alert" style="backround-color: #FFFF66" >
                                                    <a style="font-size: 20;">Opps! Nội dung bạn tìm kiếm không tồn tại hoặc đã bị xóa!</a>
                                                  </div>
                                                        <% } %>
                            </tbody>
                        </table>
                    </div>
                    <% if (typeof message !== 'undefined') { %>
                        <div class="alert alert-success">
                          <%= message %>
                        </div>
                      <% } %>
                </section>

            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
            <%- include('../layout/footer.ejs') %>