<%- include('../layout/header.ejs') %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->
        <%- include('../layout/menu.ejs') %>
            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row">
                    <%- include('../tutor/search.ejs') %>
                    <div class="container">
                        <table class="table">
                            <% if (typeof tutors !=='undefined' && Array.isArray(tutors) && tutors.length> 0) { %>
                            <thead class="" style="background-color: #67CDF9; color: aliceblue;">
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Đánh giá</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Ghi Chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <% for(var i=0; i< tutors.length; i++){ %>

                                        <tr>
                                            <td>
                                                <%= i+1 %>
                                            </td>
                                            <td>
                                                <%= tutors[i].username %>
                                            </td>
                                            <td>
                                                <%= tutors[i]._id %>
                                            </td>
                                            <td>
                                                <%= tutors[i].email %>
                                            </td>
                                            <td>
                                                <% var hasReview = false; %>
                                                    <% for (var j=0; j < reviews.length; j++) { %>
                                                        <% if (tutors[i].username === reviews[j].nametutor) { %>
                                                            <p>
                                                                    <% for (let k = 0; k < reviews[j].rate; k++) { %>
                                                                        &#11088; <!-- &#9733; Hoặc &#11088; -->
                                                                    <% } %>
                                                            </p>
                                                            <% hasReview = true; %>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% if (!hasReview) { %>
                                                                            <p>No reviews</p>
                                                                            <% } %>
                                            </td>
                                            <td>
                                                <% if (tutors[i].status==='inactive' ) { %>
                                                    Tài khoản đã khóa
                                                    <% } else { %>
                                                        Đang hoạt động
                                                        <% } %>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm" onclick="urlAction('/admin/tutor/details.html/<%= tutors[i]._id %>')">Chi tiết</button>
                                                <% if (tutors[i].status==="active" ) { %>
                                                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Khóa tài khoản</button>
                                                <% } else { %>
                                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModalCenter2">Mở khóa tài khoản</button>
                                                <% } %>
                                                  <!-- Modal -->
                                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content" style="border-radius: 4px;">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterTitle">Bạn muốn thực hiện hành động này không?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                      <div class="modal-body">
                                                        Vui lòng nhấn xác nhận nếu đồng ý hoặc hủy để dừng thao tác!
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                        <button type="submit" class="btn btn-primary" onclick="urlAction('/admin/tutor/block/<%= tutors[i]._id %>')" data-toggle="modal">Đồng ý</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                      <div class="modal-content" style="border-radius: 4px;">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title" id="exampleModalCenterTitle">Bạn muốn thực hiện hành động này không?</h5>
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                          Vui lòng nhấn xác nhận nếu đồng ý hoặc hủy để dừng thao tác!
                                                        </div>
                                                        <div class="modal-footer">
                                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                          <button type="submit" class="btn btn-primary" onclick="urlAction('/admin/tutor/unblock/<%= tutors[i]._id %>')" data-toggle="modal">Đồng ý</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                            </td>
                                                                                        
                                        </tr>

                                        <% } %>
                                            <% } else { %>
                                                <div class="alert" role="alert" style="backround-color: #FFFF66" >
                                                    <a style="font-size: 20;">Không có gia sư nào theo yêu cầu tìm kiếm của bạn!</a>
                                                  </div>
                                                        <% } %>
                            </tbody>
                        </table>
                    </div>
                </section>
                <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
            <%- include('../layout/footer.ejs') %>