<%- include('../layout/headerv2.ejs') %>
  
  <section id="main-content" class=" ">
    <section class="wrapper main-wrapper row">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="font-size: 18px;">
                  <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="/news" style="color: #6c757d;">Tin Tức</a></li>
                </ol>
              </nav>
              
            <% if (typeof news !=='undefined' && news) { %>
                    <div class="container">
                        <div class="content-details" style="flex:4; display: flex; flex-direction: column;">
                            <h2 style="flex:1; margin-top: 30px;"><%= news.name %>
                            </h2>
                            <hr>
                            <img class="img" src="<%= news.image %>" alt="Images">
                            <hr>
                            <p class="text text-content" >
                                <pre><%= news.content %></pre>
                            </p>
                            
                            
                        </div>
                        <div class="content-end">
                            <span>Nguồn:<a style="margin-top: -6px;" href="<%= news.sourceUrl %>" target="_blank"> <%= news.sourceUrl %></a></span>
                            <hr>
                            <p class="date">Ngày đăng: <%= new Date(news.createdAt).toLocaleString('vi-VN') %>
                            </p>
                            <button type="button" class="btn btn-primary" onclick="urlAction('/news')">Quay lại</button>
                        </div>
                    </div>
                    <br>
                        <% } else { %>
                            <p>No news found</p>
                            <% } %>
        </div>
    </section>
</section>

<%- include('../layout/footer.ejs') %>
</body>

</html>
