<%- include('../layout/headerv2.ejs') %>


  <div class="container">
    <nav aria-label="breadcrumb" >
      <ol class="breadcrumb" style="font-size: 18px;">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/news" style="color: #6c757d;">Tin Tức</a></li>
      </ol>
    </nav>
    <% if (typeof news !== 'undefined' && Array.isArray(news) && news.length > 0) { %>
      <% var itemsPerPage = 10; // Số tin tức hiển thị trên mỗi trang %>
      <% var currentPage = 1; // Replace with the actual current page number %>
      <% var startIdx = (currentPage - 1) * itemsPerPage; %>
      <% var endIdx = currentPage * itemsPerPage; %>

      <% for(var i = news.length-1 ; i >= startIdx ; i--) { %>
        <div class="card mb-3">
          <div class="container cardnews">
              <img class="img img-thumbnail" src="<%= news[i].image %>" alt="Images" style="flex: 1; max-height: 180px; max-width: 210px; margin-right: 30px; margin-left:20px; margin-top: 30px;">
              <div class="content" style="flex: 6; display: flex; flex-direction: column;">
                  <h4 class="name" style="margin-top: 30px;">
                      <a href="/details/<%= news[i]._id %>" ><%= news[i].name %></a>
                  </h4>
                  <span class="text" style="overflow: hidden; max-height: 50px; max-width: 100%; font-size: 17px; text-overflow: ellipsis;">
                      <%= news[i].content %>
                  </span>
                  <a class="a-details" style="font-size: 16px;"  href="/details/<%= news[i]._id %>">Xem thêm...</a>
                  <br>
                  <span class="date">Ngày đăng: <%= new Date(news[i].createdAt).toLocaleString('vi-VN') %></span>

              </div>
          </div>
      </div>
      <% } %>

      <% var totalPages = Math.ceil(news.length / itemsPerPage); %>
      <% if (totalPages > 1) { %>
        <ul class="pagination">
          <% if (currentPage !== 1) { %>
            <li class="page-item">
              <a href="/news?page=<%= currentPage-1 %>" class="page-link">Trước</a>
            </li>
          <% } %>
          <% for(var page = 1; page <= totalPages; page++) { %>
            <% if (page !== currentPage) { %>
              <li class="page-item">
                <a href="/news?page=<%= page %>" class="page-link"><%= page %></a>
              </li>
            <% } else { %>
              <li class="page-item active">
                <span class="page-link"><%= page %></span>
              </li>
            <% } %>
          <% } %>
          <% if (currentPage !== totalPages) { %>
            <li class="page-item">
              <a href="/news?page=<%= currentPage+1 %>" class="page-link">Sau</a>
            </li>
          <% } %>
        </ul>
      <% } %>
    <% } else { %>
      <!-- ...Thông báo khi không có tin tức... -->
      <p>Không có tin tức để hiển thị!</p>
    <% } %>
  </div>
</section>
<%- include('../layout/footer.ejs') %>
</body>
</html>
