<%- include('../layout/header.ejs') %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->
        <%- include('../layout/menu.ejs') %>
            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                    <div class="container">
                        <% if (typeof tutors !=='undefined' && tutors) { %>
                                <div class="card mb-3">
                                    <img class="img" src="<%= tutors.avt %>" alt="Images" style="flex: 1; max-height: 160px; max-width: 150px; margin-right: 30px;">
                                    <div class="card-body">
                                        <h5 class="card-title">Mã học viên: <%= students._id %></h5>
                                        <h5 lass="card-title">Tên học viên : <%= students.username %></h5>
                                        <p class="card-text">Ngày sinh : <%= students.birthday %></p>
                                        <p class="card-text">Email : <%= students.email %></p>
                                        <p class="card-text">Địa chỉ : <%= students.address %></p>
                                        <p class="card-text">Khóa học tham gia hiện tại :  <% if (course.length === 0) { %>
                                            Không có khóa học nào.
                                          <% } else { %>
                                            <% for (let i = 0; i < course.length; i++) { %>
                                              <%= course[i].name %>
                                            <% } %>
                                          <% } %>
                                          
                                        </p>
                                        <div>
                                            <p class="card-text">Trạng thái:
                                                <% if (students.status === 'inactive') { %>
                                                  Tài khoản đã khóa
                                                <% } else { %>
                                                  Đang hoạt động
                                              </p>  
                                              <% } %>   
                                        </div>
                                          <td>
                                            <a href="/student/block/<%= students._id %>">Khóa tài khoản</a>
                                          </td>
                                    </div>
                                    <br>
                                </div>
                            <% } else { %>
                                <% if (typeof message !== 'undefined' && message != '') { %>
                                    <div class="alert alert-success" style="margin-top: 100px ;"><%= message %></div>
                                <% }
                                    <p>Không có thông tin để hiển thị </p>
                            <% } %>
                    </div>
                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
            <%- include('../layout/footer.ejs') %>