<%- include('../layout/header.ejs') %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->
        <%- include('../layout/menu.ejs') %>
            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row">
                    <%- include('../course/search.ejs') %>
                    <div class="container">
                        <% if (typeof courses !=='undefined' && courses) { %>
                                <div class="container">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h3 class="card-title">Tên : <%= courses.name %></h3>
                                            <hr>
                                            <p class="card-text">Mã khóa học : <%= courses.key %></p>
                                            <p class="card-text">Tên giáo viên: <%= courses.nametutor %></p>
                                            <p class="card-text">Tên học sinh: <%= courses.nameuser %></p>
                                            <p class="card-text">Môn học : <%= courses.subject %> - 
                                                <% if (courses.category==='primary' ) { %>
                                                    Dành cho Tiểu Học
                                                    <% } else if (courses.category==='secondary' ) { %>
                                                      Dành cho THCS
                                                      <% } else if (courses.category==='high-school' ) { %>
                                                        Dành cho THPT
                                                        <% } else if (courses.category==='training-high-school' ) { %>
                                                          Luyện thi THPT QG
                                                          <% } else if (courses.category==='english-cerificate' ) { %>
                                                            Luyện thi Chứng Chỉ Tiếng Anh
                                                            <% } else if (courses.category==='english-communication' ) { %>
                                                              Tiếng Anh giao tiếp
                                                              <% } %>
                                            </p>
                                            <p class="card-text">Nội dung: <%= courses.decs %></p>
                                            <p class="card-text">Trạng thái:
                                                <% if (courses.status === 'active') { %>
                                                  <span style="color: rgb(0, 228, 0);">Đang mở</span>
                                                <% } else if (courses.status === 'inactive') { %>
                                                  <span style="color: red;">Đã đóng</span>
                                                <% } else { %>
                                                  <%= courses.status %>
                                                <% } %>
                                              </p>
                                              
                                        </p>
                                        <p class="date" style="flex:1;">Ngày tạo: <%= new Date(courses.datePost).toLocaleString('vi-VN') %>
                                        </p>
                                        <p class="date" style="flex:1 ; ">Cập nhật lần cuối: <%= new Date(courses.updatedAt).toLocaleString('vi-VN') %>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                    <% } else { %>
                                        <p>không có khóa học để hiển thị</p>
                                        <% } %>
                    </div>


                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
            <%- include('../layout/footer.ejs') %>