<%- include('../layout/header.ejs') %>
<!-- END TOPBAR -->
<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
    <!-- SIDEBAR - START -->
      <%- include('../layout/menu.ejs') %>
    <!--  SIDEBAR - END -->
    <!-- START CONTENT -->
    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper row">
            <div class='col-xs-12'>
                <div class="page-title">
                    <div style="background-color: #FFC0CB; display: flex; flex-direction: row; justify-content: space-evenly; height: 50px; margin-bottom: 3%;">
                        <h1 class="title" style="flex:1; margin-left: 15px;">Khóa học</h1>
                        <form action="/course/search" method="post" style="flex: 1; margin-left: 40%; margin-top: 10px;">
                            <input type="text" placeholder="Search..." id="query" name="query" style="padding-right: 30%; margin-right: 10px;">
                            <input type="submit" value="Search">
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="container">
               
                <% if (typeof courses !== 'undefined' && Array.isArray(courses) && courses.length > 0) { %>
                    <% for(var i=0; i< courses.length; i++){ %>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Tên : <%= courses[i].name %></h5>
                                <p class="card-text">Mã khóa học : <%= courses[i].key %></p>
                                <p class="card-text">Tên giáo viên: <%= courses[i].nametutor %></p>
                                <p class="card-text">Trạng thái: <%= courses[i].status %></p>
                                <td>
                                    <a href="/course/details.html/<%= courses[i]._id %>">Chi tiết</a>
                                </td>
        
                            </div>
                        </div>
                    <% } %>
                    <% } else { %>
                        <% if (typeof message !== 'undefined' && message != '') { %>
                            <div class="alert alert-success" style="margin-top: 100px ;"><%= message %></div>
                        <% } else { %>
                            <p>No news found</p>
                        <% } %>
                    <% } %>
            </div>
           
        </section>
        
    </section>
    <!-- END CONTENT -->
    <div class="chatapi-windows ">
    </div>
<%- include('../layout/footer.ejs') %>