<%- include('../layout/header.ejs') %>
<!-- END TOPBAR -->
<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
    <!-- SIDEBAR - START -->
      <%- include('../layout/menu.ejs') %>
    <!--  SIDEBAR - END -->
    <!-- START CONTENT -->
    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper row">
            <%- include('../course/search.ejs') %>
            <div class="container">
                <table class="table">
                    <thead class="" style="background-color: #67CDF9; color: aliceblue;">
                        <tr>
                            <th scope="col">Tên Khóa Học</th>
                            <th scope="col">Mã Khóa Học</th>
                            <th scope="col">Tên Giáo Viên</th>
                            <th scope="col">Tên Học Viên</th>
                            <th scope="col">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (typeof courses !== 'undefined' && Array.isArray(courses) && courses.length > 0) { %>
                            <% for(var i=0; i< courses.length; i++){ %>
                                <tr>
                                    <td>
                                        <%= courses[i].name %>
                                    </td>
                                    <td>
                                        <%= courses[i].key %>
                                    </td>
                                    <td>
                                        <%= courses[i].nametutor %>
                                    </td>
                                    <td>
                                        <%= courses[i].nameuser %>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" onclick="urlAction('/admin/course/details.html/<%= courses[i]._id %>')">Chi tiết</button>
                                    </td>
                                </tr>
                            <% } %>
                        <% } else { %>
                            <p>Không có khóa học để hiển thị</p>
                        <% } %>
                    </tbody>
                </table>
            </div>
           
        </section>
        
    </section>
    <!-- END CONTENT -->
    <div class="chatapi-windows ">
    </div>
<%- include('../layout/footer.ejs') %>