<%- include('../layout/header.ejs') %>
<!-- END TOPBAR -->
<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
    <!-- SIDEBAR - START -->
      <%- include('../layout/menu.ejs') %>
    <!--  SIDEBAR - END -->
    <!-- START CONTENT -->
    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper row">
            <%- include('../course/search.ejs') %>
            <div class="container">
                <% if (typeof courses !== 'undefined' && Array.isArray(courses) && courses.length > 0) { %>
                <table class="table">
                    <thead class="" style="background-color: #67CDF9; color: aliceblue;">
                        <tr>
                            <th scope="col">Tên Khóa Học</th>
                            <th scope="col">Mã Khóa Học</th>
                            <th scope="col">Tên Giáo Viên</th>
                            <th scope="col">Tên Học Viên</th>
                            <th scope="col"><span style="margin-right: 4px;"></span>Ghi chú <span style="margin-left: 12px;"></span>Trạng Thái</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                            <% for(var i=0; i< courses.length; i++){ %>
                                <tr>
                                    <td>
                                        <%= courses[i].name %>
                                    </td>
                                    <td>
                                        <%= courses[i].key %>
                                    </td>
                                    <td>
                                        <%= courses[i].nametutor %>
                                    </td>
                                    <td>
                                        <%= courses[i].nameuser %>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" onclick="urlAction('/admin/course/details.html/<%= courses[i]._id %>')">Chi tiết</button>
                                        <% if (courses[i].hidden === false ) { %>
                                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalCenter<%= courses[i]._id %>">Tạm ẩn</button>
                            
                                            <% } else { %>
                                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalCenter2<%= courses[i]._id %>">Hiển thị</button>
                                              <% } %>
                                    </td>
                                    <!-- Modal 1-->
                                    <div class="modal fade" id="exampleModalCenter<%= courses[i]._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                          <div class="modal-content" style="border-radius: 4px;">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalCenterTitle">Bạn có muốn ẩn khóa học này không?</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              Vui lòng nhấn xác nhận nếu đồng ý hoặc hủy để dừng thao tác!
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                              <button type="submit" class="btn btn-primary" data-toggle="modal" onclick="hiddenCourse('<%= courses[i]._id %>')"> Đồng ý</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- Modal 2 -->
                                      <div class="modal fade" id="exampleModalCenter2<%= courses[i]._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                          <div class="modal-content" style="border-radius: 4px;">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalCenterTitle">Bạn có muốn hiển thị lại khóa học này không?</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              Vui lòng nhấn xác nhận nếu đồng ý hoặc hủy để dừng thao tác!
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                              <button type="submit" class="btn btn-primary" data-toggle="modal" onclick="showCourse('<%= courses[i]._id %>')"> Đồng ý</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </tr>
                            <% } %>
                        
                    </tbody>
                </table>
                <% } else { %>
                    <p>Không có khóa học để hiển thị!</p>
                <% } %>
            </div>
           
        </section>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </section>
    <!-- END CONTENT -->
    <div class="chatapi-windows ">
    </div>
<%- include('../layout/footer.ejs') %>