<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <% for (let i=0; i < notification.length; i++) { %>
                    <div class="modal-body-item">
                       
                    <% if (notification[i] && notification[i].student.username && username===notification[i].student.username && 
                    notification[i].status==='inactive' ) { %>
                            <p>Gia sư <strong>
                                    <%= courses[i].tutor.username %>
                                </strong> đã đồng ý yêu cầu đăng ký của bạn!
                            </p>
                    <% } else if (courses[i] && courses[i].tutor.username && username===courses[i].tutor.username) { %>
                        <% if (courses[i].status !=='inactive' ) { %>
                            <div class="item-acp">
                                <p>Học viên <strong>
                                        <%= courses[i].student.username%>
                                </strong> đã đăng ký khóa học <strong>
                                        <%= courses[i].name %> </strong>của bạn. Vui lòng xác nhận!
                                </p>
                                <div class="form">
                                        <form action="/tutor/accept" method="post">
                                            <input type="hidden" name="courseId" value="<%= courses[i]._id %>">
                                            <input type="submit" value="Đồng ý" class="button btn-primary">
                                        </form>
                                        <form method="post" action="/tutor/ancel">
                                            <input type="hidden" name="courseId" value="<%= courses[i]._id %>">
                                            <input type="submit" value="Hủy" class="button btn-primary">
                                        </form>
                                </div>
                            </div>
                    </div>
                    <% } %>
                 <% } %>
           <% } %>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-title {
        color: #0054b6;
    }

    .modal-body-item {
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .item-acp {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .item-acp p {
        flex: 8;
    }
    .item-acp .form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        flex: 2;
    }

    .modal-backdrop {
        display: none;
    }
</style>
<script>

    // apply
    var applyModal = document.getElementById('myModal');
    var openapplyBtn = document.querySelector('.notification');
    var closeModalBtns = document.querySelectorAll('[data-dismiss="modal"]');

    openapplyBtn.addEventListener('click', function () {
        applyModal.style.display = 'block !important';
        applyModal.classList.add('show');
    });

    closeModalBtns.forEach(function (btn) {
        btn.addEventListener('click', function () {
            applyModal.classList.remove('show');
            applyModal.style.display = 'none';
        });
    });

    window.addEventListener('click', function (event) {
        if (event.target == applyModal) {
            applyModal.classList.remove('show');
            applyModal.style.display = 'none';
        }
    });
 // apply
    // Trước khi gửi yêu cầu đồng bộ
    $('#modal-footer .button').prop('disabled', true);
    // Sau khi gửi yêu cầu đồng bộ thành công
    $('#modal-footer .button').prop('disabled', false);
    $('.btn-apply').on('click', function () {
        var courseId = $(this).data('course-id');
        var courseName = $(this).closest('.card-body').find('.card-title a').text().trim();
        var tutorName = $(this).closest('.card-body').find('.card-text a').text().trim().replace(/(Đang mở|Đã đóng|\s+)/g, '');
        var r = confirm('Bạn muốn đăng ký khoá học này?');
        if (r == true) {
            alert('Đã gửi yêu cầu đăng ký');

            if (tutorName === username) {
                alert('Bạn không thể tự đăng ký cho khoá học của mình!');
                return;
            }

            if (isAlreadyApplied) {
                alert('Bạn đã đăng ký khoá học này rồi!');
                return;
            }

            // Gửi thông tin đăng ký lên websocket
            socket.emit('apply', {
                courseId: courseId,
                tutorName: tutorName,
                courseName: courseName,
                username: username
            });

            // Đặt cờ đã đăng ký thành true
            isAlreadyApplied = true;

            // Emit một sự kiện 'apply-created' đến máy chủ WebSocket
            socket.emit('apply-created');

            // Gửi thông báo đăng ký đến server bằng AJAX
            $.ajax({
                url: '/tutor/apply',
                type: 'POST',
                data: {
                    courseId: courseId,
                    tutorName: tutorName,
                    courseName: courseName,
                    username: username
                },
                success: function (data) {

                },
                error: function () {
                    alert('Đã xảy ra lỗi khi lưu yêu cầu đăng ký!');
                }
            });
        }
    });
</script>
</body>

</html>