<%- include('../layout/header.ejs') %>
    <%- include('../layout/menu.ejs') %>
        <div class="section">
            <div class="course">
                <% if (typeof courses !=='undefined' && courses) { %>
                    <h5>
                        <%= courses.name %>
                    </h5>
                    <i style="font-size: 12px; color:red; font-weight: 500;">Phí đăng ký là 5.000 VND</i>

                    <p class="">Tên gia sư: <a href="/tutor/detail-tutors/<%= tutors._id %>"> 
                            <%= courses.nametutor %>
                        </a></p>
                    <p class="">Trạng thái: <%= courses.status %>
                    </p>
                    <p class="text"><%= courses.decs %></p>
                    <p class=""><small class="text-muted">Ngày đăng: <%= new
                                Date(courses.datePost).toLocaleString('vi-VN') %></small></p>
                    <button class="btn-apply">Apply</button>
                    <% } else { %>
                        <p>không có khóa học để hiển thị</p>
                        <% } %>
            </div>
        </div>
        </div>
        <%- include('../layout/footer.ejs') %>
            </body>

            </html> 