<%- include('../layout/header.ejs') %>
  <%- include('../layout/menu.ejs') %>
    <div class="section">
      <%- include('../main/search.ejs') %>
        <h5 class="title-content">Khóa học mới nhất</h5>
        <div class="card card-wrapper">
          <% if (typeof courses !=='undefined' && Array.isArray(courses) && courses.length> 0) { %>
            <% for(var i=0; i< courses.length; i++){ %>
              <% if (courses[i].status !=='Đã đóng' ) { %>
                <% if(i===8) break; %>
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="/tutor/detail-courses/<%= courses[i]._id %>">
                        <%= courses[i].name %>
                      </a>
                    </h5>
                    <p class="card-text">Tên gia sư: <a href="/tutor/detail-tutor">
                        <%= courses[i].nametutor %>
                      </a></p>
                    <p class="card-text">Môn: <%= courses[i].subject%>
                    </p>
                    <p class="card-text">
                      <% if (courses[i].category==='primary' ) { %>
                        Dành cho Tiểu Học
                        <% } else if (courses[i].category==='secondary' ) { %>
                          Dành cho THCS
                          <% } else if (courses[i].category==='high-school' ) { %>
                            Dành cho THPT
                            <% } else if (courses[i].category==='training-high-school' ) { %>
                              Luyện thi THPT QG
                              <% } else if (courses[i].category==='english-cerificate' ) { %>
                                Luyện thi Chứng Chỉ Tiếng Anh
                                <% } else if (courses[i].category==='english-communication' ) { %>
                                  Tiếng Anh giao tiếp
                                  <% } %>
                    </p>
                    <p class="card-text">Trạng thái: <%= courses[i].status %>
                    </p>
                    <p class="card-text">Mô tả: <%= courses[i].decs %>
                    </p>
                    <p class="card-text"><small class="text-muted">Ngày đăng: <%= new
                          Date(courses[i].datePost).toLocaleString('vi-VN') %></small></p>
                    <button class="btn-apply" data-course-id="<%= courses[i]._id %>">Apply</button>


                  </div>
                  <% } %>
                    <% } %>
                      <% } else { %>
                        <% if (typeof message !=='undefined' && message !='' ) { %>
                          <div class="alert alert-success" style="margin-top: 100px ;">
                            <%= message %>
                          </div>
                          <% } else { %>
                            <p>Không có khóa học nào!</p>
                            <% } %>
                              <% } %>
        </div>

      
        </div>

    </div>

    </div>
    <script>
      // apply
      $(document).ready(function () {
        // Thêm sự kiện click vào nút Apply
        $('.btn-apply').on('click', function () {
          var courseId = $(this).data('course-id');
          var courseName = $(this).closest('.card-body').find('.card-title a').text();
          var tutorName = $(this).closest('.card-body').find('.card-text a').text();

          // Hiển thị thông báo muốn đăng ký
          var r = confirm('Bạn muốn đăng ký khoá học này?');
          if (r == true) {
            // Hiển thị thông báo đang gửi yêu cầu
            alert('Yêu cầu đăng ký đã được gửi ');
            // Gửi thông báo đăng ký đến server bằng AJAX
            $.ajax({
              url: '/tutor/apply',
              type: 'POST',
              data: {
                courseId: courseId,
                tutorName: tutorName,
                courseName: courseName,
              },
              success: function (data) {
                if (data.alreadyApplied) {
                  alert('Bạn đã đăng ký khoá học này rồi!');
                } else {

                }
              },
              error: function () {
                alert('Bạn không thể tự đăng ký cho bản thân');
              }
            });
          }
        });

      });


      // thông báo
      document.querySelector('.btn-tb').addEventListener('click', () => {
        location.href = '/tutor/applys'
      })
///
      /* // Hiển thị thông báo đăng ký thành công
                    $('.btn-tb').addClass('activee');
                    // Thêm sự kiện click vào nút thứ hai
                    $('.btn-tb').on('click', function() {
                      $(this).removeClass('activee');
                    });*/

    </script>
    <%- include('../layout/footer.ejs') %>
      </body>

      </html>