<%- include('../layout/header.ejs') %>
    <%- include('../layout/menu.ejs') %>
        <div class="section">
            <form class="form-search" action="#" method="post">
                <div class="dropdown">
                    <select id="grade-select" onchange="updateSubjectList()">
                      <option value="primary">Dành cho Tiểu Học</option>
                      <option value="secondary">Dành cho THCS</option>
                      <option value="high-school">Dành cho THPT</option>
                      <option value="training-high-school">Luyện thi THPT QG</option>
                      <option value="english-cerificate">Luyện thi Chứng Chỉ Tiếng Anh</option>
                      <option value="english-communication">Tiếng Anh giao tiếp</option>
                    </select>
                  </div>
                  <div class="dropdown">
                    <select id="subject-select" disabled>
                      <option value="">-- Select a subject --</option>
                    </select>
                  </div>
                  
                <input id="query" name="query" type="search" placeholder="Search..."
                    style="padding: 10px; margin-right: 10px; border: solid 1px #cccc;border-radius: 5px; padding-right: 15%;">
                <input class="btn-search" type="submit" value="Tìm kiếm">
                <select class="status" name="status" id="status">
                    <optgroup label="Trạng thái">
                        <option value="active">Đang mở</option>
                        <option value="inactive">Đã tắt</option>
                    </optgroup>
                </select>
            </form><br><br>
            <h5 class="title-content">Khóa học mới nhất</h5>
            <div class="card card-wrapper">
                <% if (typeof courses !=='undefined' && Array.isArray(courses) && courses.length> 0) { %>
                    <% for(var i=0; i< courses.length; i++){ %>
                        <% if (courses[i].status !== 'Đã đóng' ) { %>
                            <% if(i===8) break; %>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="/tutor/detail-courses/<%= courses[i]._id %>"><%= courses[i].name %></a>
                                    </h5>
                                    <p class="card-text">Tên gia sư: <a href="/tutor/detail-tutor"><%= courses[i].nametutor %></a></p>
                                    <p class="card-text">Trạng thái: <%= courses[i].status %></p>
                                    <p class="card-text">Mô tả: <%= courses[i].decs %></p>
                                    <p class="card-text"><small class="text-muted">Ngày đăng: <%= new
                                                Date(courses[i].datePost).toLocaleString('vi-VN') %></small></p>
                                                
                                        <button class="btn-apply" data-course-id="<%= courses[i]._id %>">Apply</button>
                                       
                                            <a class="buttons" href="/tutor/applys">Thông báo</a>
                                         
                                        <link rel="stylesheet" href="/css/notifications.css">
                                        <button class="btn-tb" >
                                            <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M20 17h2v2H2v-2h2v-7a8 8 0 1 1 16 0v7zm-2 0v-7a6 6 0 1 0-12 0v7h12zm-9 4h6v2H9v-2z" fill="currentColor"></path>
                                            </svg>
                                        </button>
                                </div>
                        <% } %>
                            <% } %>
                                <% } else { %>
                                    <% if (typeof message !=='undefined' && message !='' ) { %>
                                        <div class="alert alert-success" style="margin-top: 100px ;">
                                            <%= message %>
                                        </div>
                                        <% } else { %>
                                            <p>Không có khóa học nào!</p>
                                            <% } %>
                                                <% } %>
            </div>
        </div>
        </div>
        <script>
         
/////
$(document).ready(function() {
  // Thêm sự kiện click vào nút Apply
  $('.btn-apply').on('click', function() {
    var courseId = $(this).data('course-id');
    var courseName = $(this).closest('.card-body').find('.card-title a').text();
    var tutorName = $(this).closest('.card-body').find('.card-text a').text();
    // Hiển thị thông báo muốn đăng ký
    var r = confirm('Bạn muốn đăng ký khoá học này?');
    if (r == true) {
      // Hiển thị thông báo đang gửi yêu cầu
      alert('Yêu cầu đăng ký đã được gửi ');
      // Gửi thông báo đăng ký đến server bằng AJAX
      $.ajax({
        url: '/tutor/apply',
        type: 'POST',
        data: { courseId: courseId,
                tutorName: tutorName,
                courseName: courseName,
            },
        success: function(data) {
          if (data.alreadyApplied) {
            alert('Bạn đã đăng ký khoá học này rồi!');
          } else {
            
          }
        },
        error: function() {
          alert('Đã xảy ra lỗi khi gửi yêu cầu đăng ký!');
        }
      });
    }
  });
});


        </script>
        <%- include('../layout/footer.ejs') %>
            </body>

            </html>