<%- include('../layout/header.ejs') %>
  <%- include('../layout/menu.ejs') %>
    <div class="section">
      <%- include('../main/search.ejs') %>
        <h5 class="title-content">Khóa học mới nhất</h5>
        <div class="card card-wrapper">
          <% if (typeof 
           !=='undefined' && Array.isArray(courses) && courses.length> 0) { %>
            <% for(var i=0; i< courses.length; i++){ %>
              <% if (courses[i].status !=='Đã đóng' ) { %>
                <% if(i===8) break; %>
                  <div class="card-body card-items">
                    <h5 class="card-title">
                      <a href="/tutor/detail-courses/<%= courses[i]._id %>">
                        <%= courses[i].name %>
                      </a>
                    </h5>
                    <p class="card-text">Tên gia sư: <a href="/tutor/detail-tutors/<%= tutors[i]._id %>">
                        <%= courses[i].nametutor %>
                      </a></p>
                    <p class="card-text text-sub">Môn: <%= courses[i].subject%>-
                      <% if (courses[i].category==='primary' ) { %>
                        Dành cho Tiểu Học
                        <% } else if (courses[i].category==='secondary' ) { %>
                          Dành cho THCS
                          <% } else if (courses[i].category==='high-school' ) { %>
                            Dành cho THPT
                            <% } else if (courses[i].category==='training-high-school' ) { %>
                              Luyện thi THPT QG
                              <% } else if (courses[i].category==='english-cerificate' ) { %>
                                Luyện Chứng Chỉ Tiếng Anh
                                <% } else if (courses[i].category==='english-communication' ) { %>
                                  Tiếng Anh giao tiếp
                                  <% } %>
                    </p>
                    <p class="card-text" style="margin-bottom:-20px; font-size:13px;">Trạng thái: <a class="text-success">
                      <% if (courses[i].status === 'active') { %>
                        Đang mở
                      <% } else  { %>
                        Đã đóng
                      <% } %>
                      </a>
                    </p>
                    </p>
                    <p class="card-text"><small class="text-muted">Ngày đăng: <%= new
                          Date(courses[i].datePost).toLocaleString('vi-VN') %></small></p>
                    <button class="btn-apply" data-course-id="<%= courses[i]._id %>">Apply</button>
 

                  </div>
                  <% } %>
                    <% } %>
                      <% } else { %>
                        <% if (typeof message !=='undefined' && message !='' ) { %>
                          <div class="alert alert-success" style="margin-top: 100px ;">
                            <%= message %>
                          </div>
                          <% } else { %>
                            <p>Không có khóa học nào!</p>
                            <% } %>
                              <% } %>
          </div>
        </div>
      </div>
      <%- include('../main/apply-modal.ejs') %>
   </div>
  
    <script src="/socket.io/socket.io.js"></script>
  <script>
  
   // apply
   var isAlreadyApplied = false; // Biến cờ để theo dõi trạng thái đăng ký

   // Thiết lập kết nối WebSocket
   const applyCount = document.querySelector('#apply-count');
   let count = 0;
   function getCookie(name) {
  var cookies = document.cookie.split("; ");
  for (var i = 0; i < cookies.length; i++) {
    var cookie = cookies[i].split("=");
    if (cookie[0] === name) {
      return cookie[1];
    }
  }
  return "";
}
var username = getCookie("username");
   //var username = localStorage.getItem("username");
   // Khi có một yêu cầu mới được tạo, tăng biến đếm count lên 1
   const socket = io();
   socket.on('apply-created', (data) => {
   if(username && data.tutorName === username){
     count++;
     applyCount.innerText = count;
     if (count > 0) {
   document.querySelector('.badge').style.display = 'inline-block';
   }
   }
   });
   socket.on('request-accepted', (data) => {
    debugger
   if (username && data.nameuser === username) {
   count++;
   applyCount.innerText = count;
   if (count > 0) {
     document.querySelector('.badge').style.display = 'inline-block';
   }
  
   }
   });
   
    </script>
    <%- include('../layout/footer.ejs') %>
      </body>

      </html>
