<%- include('../layout/header.ejs') %>
    <%- include('../layout/menu.ejs') %>
        <div class="section">
            <%- include('../main/search.ejs') %>
                <h5 class="title-content">Khóa học mới nhất</h5>
                <div class="card card-wrapper">
                    <% if (typeof courses !=='undefined' && Array.isArray(courses) && courses.length> 0) { %>
                        <% for(var i=0; i< courses.length; i++){ %>
                            <% if (courses[i].status !=='Đã đóng' ) { %>
                                <% if(i===8) break; %>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="/tutor/detail-courses/<%= courses[i]._id %>">
                                                <%= courses[i].name %>
                                            </a>
                                        </h5>
                                        <p class="card-text">Tên gia sư: <a href="/tutor/profiles">
                                                <%= courses[i].nametutor %>
                                            </a></p>
                                        <p class="card-text">Trạng thái: <%= courses[i].status %>
                                        </p>
                                        <p class="card-text card-decs">Mô tả: <%= courses[i].decs %>
                                        </p>
                                        <p class="card-text"><small class="text-muted">Ngày đăng: <%= new
                                                    Date(courses[i].datePost).toLocaleString('vi-VN') %></small></p>
                                        <button class="btn-apply">Apply</button>
                                    </div>
                                    <% } %>
                                        <% } %>
                                            <% } else { %>
                                                <% if (typeof message !=='undefined' && message !='' ) { %>
                                                    <div class="alert alert-success" style="margin-top: 100px ;">
                                                        <%= message %>
                                                    </div>
                                                    <% } else { %>
                                                        <p>Không có khóa học nào!</p>
                                                        <% } %>
                                                            <% } %>
                </div>
        </div>
        </div>

        <%- include('../layout/footer.ejs') %>
            </body>

            </html>