<!DOCTYPE html>
<html>
<head>
  <title>Danh sách yêu cầu đăng ký</title>
</head>
<body>
  <h1>Thông tin đăng ký:</h1>
  <% for (let i = 0; i < apply.length; i++) { %>
    <div>
      <p>Tên khóa học: <%= apply[i].name %></p>
      <p>Tên gia sư: <%= apply[i].nametutor %></p>
      <p>Tên người dùng: <%= apply[i].nameuser %></p>
      <p>Ngày đăng ký: <%= apply[i].datePost %></p>
      <form method="post" action="/tutor/accept">
        <input type="hidden" name="applyId" value="<%= apply[i]._id %>">
        <button class="btn">Đồng ý</button>
      </form>
      <form method="post" action="/tutor/ancel">
        <input type="hidden" name="applyId" value="<%= apply[i]._id %>">
        <button class="btn-x">Xóa</button>
      </form>
    </div>
  <% } %>
</body>
</html>