<%- include('../../layout/header.ejs') %>
<!-- END TOPBAR -->
<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
    <!-- SIDEBAR - START -->
      <%- include('../../layout/menu.ejs') %>
    <!--  SIDEBAR - END -->
    <!-- START CONTENT -->
    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper row">
            <div class='col-xs-12'>
                <div class="page-title">
                    <div style="background-color: #FFC0CB; display: flex; flex-direction: row; justify-content: space-evenly; height: 50px; margin-bottom: 3%;">
                        <h1 class="title" style="flex:1; margin-left: 15px;">Khóa học</h1>
                        <form action="/tutor/reviews/search" method="post" style="flex: 1; margin-left: 40%; margin-top: 10px;">
                            <input type="text" placeholder="Search..." id="query" name="query" style="padding-right: 30%; margin-right: 10px;">
                            <input type="submit" value="Search">
                        </form>
                        
                    </div>
                </div>
            </div>
            <<div class="container">
                <% if (typeof reviews !== 'undefined') { %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Tên giáo viên: <%= reviews.nametutor %></h5>
                            <p class="card-text">Số sao: 
                                <% for (let i = 0; i < reviews.rate; i++) { %>
                                    &#11088; <!-- &#9733; Hoặc &#11088; -->
                                <% } %>
                            </p>
                            <p class="card-text">Nội dung đánh giá: <%= reviews.content %></p>
                            <p class="date" style="flex:1;">Ngày được đánh giá: <%= new Date(reviews.createdAt).toLocaleString('vi-VN') %></p>
                            <p class="date" style="flex:1;">Ngày cập nhật đánh giá: <%= new Date(reviews.updatedAt).toLocaleString('vi-VN') %></p>
                        </div>
                    </div>
                <% } else { %>
                    <% if (typeof message !== 'undefined' && message != '') { %>
                        <div class="alert alert-success" style="margin-top: 100px;"><%= message %></div>
                    <% } else { %>
                        <p>Không có đánh giá nào</p>
                    <% } %>
                <% } %>
            </div>
            
           
        </section>
        
    </section>
    <!-- END CONTENT -->
    <div class="chatapi-windows ">
    </div>
<%- include('../../layout/footer.ejs') %>