<head>
    <link rel="stylesheet" href="/css/account-styles.css">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css" rel="stylesheet" />
</head>
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="<%= tutors.avt %>" alt="Avatar" class="img-fluid my-5" id="avatar"
                                style="width: 100px; height: 100px; border-radius: 50px;" />
                            <h5>
                                <%= tutors.username %>
                            </h5>
                            <input type="file" id="avatar-upload-input" style="display:none;">
                            <label><i class="far fa-edit mb-5" for="avatar-upload-input"></i></label>

                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted ">
                                            <%= tutors.email %>
                                    </p>
                                    <a href="" class="update-email">Cập nhật email</a>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Phone</h6>
                                        <p class="text-muted">
                                            <%= tutors.phonenumber %>
                                        </p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Date</h6>
                                        <p class="text-muted">
                                            <%= formattedBirthday %>
                                        </p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Address</h6>
                                        <p class="text-muted">
                                            <%= tutors.address %>
                                        </p>
                                    </div>
                                </div>
                                <h6>Projects</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Course</h6>
                                        <a href="#" class="course">
                                            <% if (course) { %>
                                                <p>
                                                    <%= course.name %>
                                                </p>
                                                <% } %>
                                        </a>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Rate</h6>
                                        <% if (reviews) { %>
                                        <p class="text-muted"><%= reviews.rate %></p>
                                        <% } %>  

                                    </div>
                                </div>
                                <!-- <div class="d-flex justify-content-start">
                                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                </div> -->
                                <a href="/tutor/home"><button class="btn-back">Back</button></a>
                                <a href="#"><button class="btn-edit-profile" data-toggle="modal"
                                        data-target="#profileModal"> Edit </button></a>
                                <!-- Modal edit profile -->
                                <div class="modal fade" id="profileModal" tabindex="-1" role="dialog"
                                    aria-labelledby="profileModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="profileModalLabel">Edit Profile</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <form action="#" method="post">
                                                <div class="modal-body">
                                                  <div class="form-group">
                                                    <label for="name_input">Name</label>
                                                    <input type="text" class="form-control" id="name_input" value="<%= tutors.name %>" placeholder="Enter name">
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="email_input">Email address</label>
                                                    <input type="email" class="form-control" id="email_input" value="<%= tutors.email %>" placeholder="Enter email"> 
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="new_email_input">New email address</label>
                                                    <input type="email" class="form-control" id="new_email_input" placeholder="Enter new email"> 
                                                  </div>
                                                  
                                                  <div class="form-group">
                                                    <label for="phone_input">Phone</label>
                                                    <input type="text" class="form-control" id="phone_input" value="<%= tutors.phonenumber %>" placeholder="Enter phone number">
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="date_input">Date</label>
                                                    <input type="text" class="form-control" id="date_input"value="<%= formattedBirthday %>" placeholder="Enter date">
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="address_input">Address</label>
                                                    <input type="text" class="form-control" id="address_input"value="<%= tutors.address %>" placeholder="Enter address">
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn-cancel"
                                                        data-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn-save-profile"
                                                        onclick="saveProfile()">Save</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('i.far.fa-edit').click(function () { // Target the i tag with the classes 'far' and 'fa-edit'
            $('#avatar-upload-input').click(); // Trigger a click event on the input element
        });
    });
    var profileModal = document.getElementById('profileModal');
    var editProfileBtn = document.querySelector('.btn-edit-profile');
    var closeModalBtns = document.querySelectorAll('[data-dismiss="modal"]');

    editProfileBtn.addEventListener('click', function () {
        profileModal.classList.add('show');
        profileModal.style.display = 'block';
    });

    closeModalBtns.forEach(function (btn) {
        btn.addEventListener('click', function () {
            profileModal.classList.remove('show');
            profileModal.style.display = 'none';
        });
    });

    window.addEventListener('click', function (event) {
        if (event.target == profileModal) {
            profileModal.classList.remove('show');
            profileModal.style.display = 'none';
        }
    });

    var form = profileModal.querySelector('form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        // Code to save changes goes here

        profileModal.classList.remove('show');
        profileModal.style.display = 'none';
    });
    //////
    $('.btn-edit-profile').click(function () {
        $('#name_input').val('<%= tutors.name %>');
        $('#email_input').val('<%= tutors.email %>');
    });

//cập nhật profile
function saveProfile() {
  const name = document.getElementById('name_input').value;
  const email = document.getElementById('email_input').value;
  const newEmail = document.getElementById('new_email_input').value;
  const phone = document.getElementById('phone_input').value;
  const date = document.getElementById('date_input').value;
  const address = document.getElementById('address_input').value;
  
debugger
  const data = { username: name, email: email,newEmail, phonenumber: phone, birthday: date, address: address };

  // Gửi request PUT đến server để cập nhật thông tin người dùng
  fetch('/tutor/save', {

    method: 'PUT',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  })
  .then(response => response.json())
  .then(data => {
    //console.log(data.message); // In thông báo thành công
   // Quay về trang "profile"
  window.location.href = "/tutor/profile/";
  })
  .catch(error => console.error(error));
}

//avatar
document.getElementById('avatar-upload-input').addEventListener('change', (event) => {
  const file = event.target.files[0];
  const reader = new FileReader();
  reader.readAsDataURL(file);
  reader.onload = () => {
    const fileContent = reader.result;

    ////
    document.getElementById('avatar-upload-input').addEventListener('change', (event) => {
        const file = event.target.files[0];
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => {
            const fileContent = reader.result;

            // Gửi yêu cầu cập nhật đến máy chủ với đường dẫn đến tệp ảnh đã tải lên
            const formData = new FormData();
            formData.append('tutorId', '<%= tutors._id %>');
            formData.append('file', file);
            fetch('/tutor/avatar/update', {
                method: 'POST',
                body: formData
            })
                .then(res => {
                    if (res.ok) location.reload();
                })
                .catch(err => console.log(err));
        };
    });
}
});
</script>