<%- include('../layout/header.ejs') %>
<!-- END TOPBAR -->
<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
    <!-- SIDEBAR - START -->
      <%- include('../layout/menu.ejs') %>
    <!--  SIDEBAR - END -->
    <!-- START CONTENT -->
    <section id="main-content" class="dashboard-page" style="background-color: #f2f2f2; padding: 50px 0;">
        <div class="container">
          <div class="page-header" style="margin-bottom: 40px;">
            <h1 class="title">News</h1>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h2>Sửa Tin Tức</h2>
              <form method="POST" action="/admin/news/<%= news._id %>?_method=PUT" enctype="multipart/form-data" class="form-style">
                <div class="form-group">
                  <label for="name">Tên tin tức muốn sửa:</label>
                  <input type="text" id="name" name="name" value="<%= news.name %>" class="form-control">
                </div>
              
                <div class="form-group">
                  <label for="content">Nội dung mới:</label>
                  <textarea id="content" name="content" class="form-control"><%= news.content %></textarea>
                </div>
                
                <div class="form-group">
                  <label for="image">Hình ảnh mới:</label>
                  <input type="file" name="image" id="image">
                </div>
                
                <button type="submit" class="btn btn-primary">Cập nhật</button>
              </form>
              
              <br>
              <% if (typeof message !== 'undefined' && message != '') { %>
                <div class="alert alert-success"><%= message %></div>
            <% } %>
            </div>
          </div>
        </div>
      </section>
      
    <!-- END CONTENT -->
    <div class="chatapi-windows ">
    </div>
<%- include('../layout/footer.ejs') %>