<%- include('../layout/header.ejs') %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->
        <%- include('../layout/menu.ejs') %>
            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row">
                    <div class='col-xs-12'>
                        <div class="page-title">
                            <div
                                style="background-color: #FFC0CB; display: flex; flex-direction: row; justify-content: space-evenly; height: 50px; margin-bottom: 3%;">
                                <h1 class="title" style="flex:1; margin-left: 15px;">News</h1>
                                <form action="/news/search" method="post" style="flex: 1; margin-left: 40%; margin-top: 10px;">
                                    <input type="text" placeholder="Search..." id="query" name="query" style="padding-right: 30%; margin-right: 10px;">
                                    <input type="submit" value="Search">
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <% if (typeof news !=='undefined' && Array.isArray(news) && news.length> 0) { %>
                            <% for(var i=0; i< news.length; i++){ %>
                                <div class="container" style="display: flex; flex-direction: row;">
                                    <img class="img" src=" <%= news[i].image %>" alt="Images" style="flex: 1; max-height: 160px; max-width: 150px; margin-right: 30px;">
                                    <div class="content" style="flex:4; display: flex; flex-direction: column;">
                                        <h5 class="name" style="flex:1; margin-top: 30px;">Tên : <%= news[i].name %>
                                        </h5>
                                        <p class="text" style="flex:3; overflow:hidden;max-height: 90px; max-width: 100%; ">Nội dung: <%= news[i].content %>
                                        </p>
                                    </p>
                                    <p class="date" style="flex:1;">Ngày tạo: <%= new Date(news[i].createdAt).toLocaleString('vi-VN') %>
                                    </p>
                                    <p class="date" style="flex:1 ; ">Cập nhật lần cuối: <%= new Date(news[i].updatedAt).toLocaleString('vi-VN') %>
                                    </p>
                                        <p class="edit" style="flex:1; border-bottom: rgb(168, 168, 168) solid 1px;">
                                            <a href="/news/details/<%= news[i]._id %>">Chi tiết</a>|
                                            <a href="/news/edit/<%= news[i]._id %>">Sửa</a>|
                                            <a href="/news/delete/<%= news[i]._id %>" onclick="return confirm('Bạn chắc chắn muốn xóa tin tức này?')">Xóa</a>

                                        </p>
                                    </div>
                                </div>
                                <br>
                                <% } %>
                                    <% } else { %>
                                        <p>No news found</p>
                                        <% } %>
                    </div>


                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
            <%- include('../layout/footer.ejs') %>