<%- include('../layout/header.ejs') %>
<!-- END TOPBAR -->
<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
    <!-- SIDEBAR - START -->
      <%- include('../layout/menu.ejs') %>
    <!--  SIDEBAR - END -->
    <!-- START CONTENT -->
    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper row" style=''>
            <div class='col-xs-12'>
                <div class="page-title">
                    <div class="pull-left">
                        <h1 class="title">Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="container" >
                <% if (typeof news !== 'undefined' && Array.isArray(news) && news.length > 0) { %>
                    <% for(var i=0; i< news.length; i++){ %>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Tên : <%= news[i].name %></h5>
                                <p class="card-text">Nội dung: <%= news[i].content %></p>
                                <p class="card-text"><small class="text-muted">Created at <%= news[i].createdAt %> | Updated at <%= news[i].updatedAt %></small></p>
                                <td>
                                    <a href="#">Chi tiết</a> | 
                                    <a href="/news/<%= news[i]._id %>/sua.html">Sửa</a>|
                                    <a href="/news/delete/<%= news[i]._id %>">Xoá</a> 
                                </td>
                                
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <p>No news found</p>
                <% } %>
            </div>
            
            
        </section>
    </section>
    <!-- END CONTENT -->
    <div class="chatapi-windows ">
    </div>
<%- include('../layout/footer.ejs') %>