<%- include('../layout/header.ejs') %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->
        <%- include('../layout/menu.ejs') %>
            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row" style=''>
                    <div class='col-xs-12'>
                        <div class="page-title">
                            <div class="pull-left">
                                <h1 class="title">Dashboard</h1>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <% if (typeof news !=='undefined' && Array.isArray(news) && news.length> 0) { %>
                            <% for(var i=0; i< news.length; i++){ %>
                                <div class="container" style="display: flex; flex-direction: row;">
                                    <img class="img" src="#" alt="Images" style="flex: 1;">
                                    <div class="content" style="flex:4; display: flex; flex-direction: column;">
                                        <h5 class="name" style="flex:1;">Tên : <%= news[i].name %>
                                        </h5>
                                        <p class="text" style="flex:3;">Nội dung: <%= news[i].content %>
                                        </p>
                                        <p class="date" style="flex:1;">Created at <%= news[i].createdAt %> | Updated at
                                                <%= news[i].updatedAt %>
                                        </p>
                                        <p class="edit" style="flex:1;">
                                            <a href="#">Chi tiết</a>|
                                            <a href="/news/edit/<%= news[i]._id %>">Sửa</a>|
                                            <a href="/news/delete/<%= news[i]._id %>">Xoá</a>
                                        </p>
                                    </div>
                                </div>
                                <% } %>
                                    <% } else { %>
                                        <p>No news found</p>
                                        <% } %>
                    </div>


                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
            <%- include('../layout/footer.ejs') %>